<section class="registrations">
  <h2 class="registrations__title">Undirskriftir</h2>
  <p class="registrations__empty">Fjöldi undirskrifta: <%= registrationPage.numberOfSignatures %></p>
  <% if (registrationPage.result.length === 0) { %>
    <p class="registrations__empty">Engar undirskriftir.</p>
  <% } else { %>
    <table class="registrations__table" cellpadding="0">
      <tr>
        <th>Dags</th>
        <th>Nafn</th>
        <th>Athugasemd</th>
        <% if(admin) { %>
          <th>Eyða</th>
        <% } %>
      </tr>
      <% registrationPage.result.forEach((row) => { %>
        <tr>
          <td class="date"><%= locals.formatDate(row.signed) %></td>
          <td class="name"><%= row.anonymous ? 'Nafnlaust' : row.name %></td>
          <td class="comment"><%= row.comment %></td>
          <% if(admin) { %>
            <td class="eyda">
              <form method="post" action="/delete" enctype="application/x-www-form-urlencoded">
                <input type="hidden" name="id" id="id" value="<%= row.id %>">
                <button class="button__delete">Eyða</button>
              </form>
            </td>
          <% }%>
        </tr>
      <% }) %>
      </tr>
    </table>
  <% } %>
  <div class="registrations__navigation">
    <% if(admin) { %>   
      <a href="<%= registrationPage.prev ? `/admin?page=${registrationPage.curr - 1}` : '/' %>">Fyrri síða</a>
      <p>Síða <%= registrationPage.curr %> af <%= registrationPage.pageCount %></p>
      <a href="<%= registrationPage.next ? `/admin?page=${registrationPage.curr + 1}` : `?page=${registrationPage.pageCount}` %>">Næsta síða</a>  
    <% } else { %>   
      <a href="<%= registrationPage.prev ? `/?page=${registrationPage.curr - 1}` : '/' %>">Fyrri síða</a>
      <p>Síða <%= registrationPage.curr %> af <%= registrationPage.pageCount %></p>
      <a href="<%= registrationPage.next ? `/?page=${registrationPage.curr + 1}` : `?page=${registrationPage.pageCount}` %>">Næsta síða</a>
    <% } %>
  </div>
</section>